**/__pycache__
**/*.pyc
output/
**/output/
logs/
**/logs/
*.log
.venv/
.venv-hf/
**/.venv/
apps/api/.venv/
node_modules/
**/node_modules/
apps/web/node_modules/
.next/
**/.next/
apps/web/.next/
apps/web/out/
out/
**/out/
comfyui/ComfyUI/
comfyui/ComfyUI/**
sdxl/
sdxl/**
.git/
.env
**/.env
